<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="info">
        <div class="quotes">
            <div id="quotes">
                <h3>Цитаты Билла Гейтса</h3>
                <p> «Patience is a key element of success»</p>
                <p> «If you think your teacher is tough, wait till you get a boss»</p>
                <p> «Life is not fair — get used to it!»</p>
                <p> «Success is a lousy teacher. It seduces smart people into thinking they
                    can’t lose»</p>
                <p> «Be nice to nerds. Chances are you’ll end up working for one»</p>
            </div>
        </div>

        <div class="content">
            <div id="text">
                <h2>Билл Гейтс</h2>
                <h4>
                    Американский предприниматель, общественный деятель, филантроп,
                    один из создателей компании Microsoft. </h4><br>
                <p> Уильям Генри Гейтс III - американский предприниматель и общественный деятель, филантроп, один из
                    создателей
                    (совместно с Полом Алленом) и бывший крупнейший акционер компании Microsoft. Также является
                    сопредседателем
                    благотворительного Фонда Билла и Мелинды Гейтс, членом совета директоров Berkshire Hathaway,
                    генеральным
                    директором
                    Cascade investment.</p>
            </div>
        </div>
        <div id="text2">
            <h4>Место рождения, образование.</h4> Родился в Сиэтле, штат Вашингтон в семье корпоративного
            адвоката
            Уильяма
            Генри Гейтса
            II и члена совета директоров First Interstate Bank, Pacific Northwest Bell и национального совета
            USWest, United Way
            Мэри Максвелл Гейтс.

            Билл Гейтс учился в муниципальной начальной школе, а затем - в частной школе Lakeside School. В 1973
            году он
            поступил в Гарвардский университет на факультет права, но был отчислен в 1975 году за неуспеваемость
            и
            прогулы.<br>

            <h4>Карьера.</h4> В 1970 была создана первая компания Traf-O-Data в которой работал Билл Гейтс и его
            одноклассники Пол Аллен
            и Пол Гилберт. Компания занималась разработкой программы для оптимизации уличного движения, это была
            первая успешная
            программа проданная Биллом Гейтсом правительству за $20 тыс.<br>

            В 1971 году фирма Information Sciences предложила Биллу и Полу написать программу для составления
            платежных
            ведомостей.<br>

            В 1972 Гейтс написал пакет программ по распределению энергии и безопасности Бонневильской плотины.
            Оплата составила
            $30 тыс.<br>

            В конце 1973 года Пол Аллен, друг Билла, получил место в Бостонском отделении "Ханивел", и Гейтс
            принялся помогать
            ему в составлении программ.<br>

            В 1974 году компания MITS создала новый персональный компьютер - Аltair 8800 и Билл предлагает для
            этого
            компьютера
            совершенно новый язык программирования, позже завоевавший весь мир - BASIC. Пробный пуск нового
            языка
            прошел удачно
            и Гейтс получает в ней работу.<br>

            В 1975 году Гейтс совместно с Алленом основали компанию Micro-Soft, позднее названую Microsoft
            Corporation.<br>
            В 1993 году двадцать пять миллионов человек в мире пользуются Windows как зарегистрированные пользователи.
        </div>
        <div class="foot">
            <div id="pic"> <img src="../assets/bill.jfif"> </div>
            <div id="ref">
                <p style="font-style: italic; font-size:20px; font-weight: bold; margin-left:20px;">Ссылки на ресурсы
                </p>

                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Bill_Gates" target="_blank">Bill Gates - Wikipedia</a>
                    </li>
                    <li><a href="https://www.gatesfoundation.org/" target="_blank">Gates Foundation</a></li>
                    <li><a href="https://www.gatesnotes.com/" target="_blank">Gates Notes</a></li>
                    <li><a href="https://twitter.com/billgates" target="_blank">Bill Gates on Twitter</a></li>
                    <li><a href="https://file.liga.net/persons/bill-geyts" target="_blank">Bill Gates - Liga.net</a>
                    </li>
                </ul>
            </div>
            <div id="pic2"><img src="../assets/bill2.jfif"></div>
        </div>
    </div>
</body>

</html>